<ul class="category">
        <li class="category-item"><a href="#cau1">1. Liệt kê các thiết bị trong phòng thí nghiệm, nhóm theo chủng loại</a></li>
        <li class="category-item"><a href="#cau2">2. Liệt kê các thiết bị đang được mượn sắp tới hạn trả (trước 05 ngày)</a></li>
        <li class="category-item"><a href="#cau3">3. Liệt kê các thiết bị đã quá hạn trả</a></li>
        <li class="category-item"><a href="#cau4">4. Liệt kê các bài thí nghiệm của giáo viên theo ID của giáo viên đó</a></li>
</ul>